@Model IEnumerable<KołpackiRWypozyczalnia.Models.Film>



    <ul class="nav flex-sm-column">
    @foreach (var film in Model)
    {
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Details", "Films", new{ filmId = film.Id })">
                    @film.Title</a> 
           </li>
    }
</ul>
@*
    <ul class="nav nav-pills flex-column mb-auto">
    @foreach (var film in Model)
    {
    <li class="nav-item">
    <a href="@Url.Action("Details", "Films", new { filmId = film.Id })" class="nav-link" aria-current="page">
    <svg class="bi me-2" width="16" height="16"><use xlink:href="#home" /></svg>
    @film.Title
    </a>
    </li>
    }
    </ul>
    *@
