@model IEnumerable<KolpackiRWypozyczalnia.Models.Category>

<nav class="menu">


    @foreach (var kategoria in Model)
    {
        <a class= "menu-link"  href="@Url.Action("FilmsList", "Films", new {categoryName = kategoria.Name })"> @kategoria.Name</a>

    }
</nav>
